= form_with(model: post, local: true) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.fields_for :images do |i|
      - if i.object.image.blank? # 新規投稿用
        = i.label :image
        = image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", id: 'img_prev' # 「id: 'img_prev'」はプレビュー表示用
        = i.file_field :image, id: 'post_img'
      - else # 投稿内容編集用
        = image_tag i.object.image.url, id: 'img_prev' # 「id: 'img_prev'」はプレビュー表示用
        = i.label :image do
          %p.edit-btn 編集
          = i.file_field :image, class: "edit-file-field", id: 'post_img' # 「id: 'post_img'」はプレビュー表示用
          = i.hidden_field :id, value: i.object.id # これがないとfile_fieldと画像が紐づかないため画像の追加しかできない
  .actions
    = f.submit
